.symbolsView {
  display: flex;
  flex-direction: column;
  min-height: 0;
}
.symbolsView__content {
  display: flex;
  flex: 1;
  max-height: 100%;
  overflow: hidden;
}
.symbolsView__cards {
  flex: 1;
  overflow-y: auto;
  background-color: #ddd;
  padding: 20px;
  border-radius: 5px;
}
.symbolsView__cards::-webkit-scrollbar {
  display: none;
}
.symbolsView__chart {
  padding: 0 20px;
  max-width: 400px;
}
@media (max-width: 1023px) {
  .symbolsView__content {
    display: flex;
    flex-direction: column-reverse;
  }
  .symbolsView__chart {
    max-width: none;
  }
}
